<!DOCTYPE>
<html>
  <head>
    <title>Editing {{ post.title | default('') }}</title>
    <link rel="stylesheet" href="/css/editor.css">
  </head>
  <body>
    <div id="app">
      <div id="editor">{{ post.content | default('') }}</div>
      <div id="preview">
        <div class="contents">
        </div>
      </div>

      <div class="actions">
        {% if user %}
          <a class="action {% if user.admin %}save{% else %}submit{% endif %}" href="#">
            <img src="/img/save.png" />
          </a>
          {% if user.admin %}
          <a class="action delete" href="#"><img src="/img/delete.png" /></a>
          {% endif %}
        {% endif %}
        <a class="action exit" href="#"><img src="/img/exit.png" /></a>
      </div>
    </div>

    <div id="save-dialog" class="dialog">
      <div class="overlay"></div>
      <div class="contents">
        <h3>Save</h3>
        <form action="/new" method="post">
          <input type="hidden" name="content" value="" />

          <div class="field">
            <label>Title:</label>
            <input type="text" name="title" value="{{ post.title | default('') }}" />
          </div>

          <div class="field">
            <label>Short URL:</label>
            <input type="text" name="shorturl" value="{{ post.shorturl | default('') }}" />
          </div>

          <div class="field">
            <label>Tags:</label>
            <input type="text" name="tags" value="{{ post.tags | default('') }}" />
          </div>

          <div class="field">
            <input type="checkbox" name="published"
                   {% if post.published == 'y' %}checked="checked"{% endif %}/>
            Published
          </div>

          <div class="field">
            <label for="date">Date (ignored for drafts)</label>
            <select name="date">
              {% for date in availableDates %}
              <option value="{{ date }}">{{ date | formatdate }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit">Save</button>
        </form>
      </div>
    </div>

    <script src="/js/zepto.min.js"></script>
    <script src="/js/ace/ace.js"></script>
    <script src="/js/editor.js"></script>
  </body>
</html>
