{% extends "base.html" %}

{% block content %}

<section class="intro">
  <h1>Hello</h1>

  <p>
    My name is James Long. I work
    at <a href="http://mozilla.org/">Mozilla</a>, doing anything I can
    to help with <a href="http://www.mozilla.org/en-US/apps/">Open Web
    Apps</a> like making
    it <a href="https://github.com/jlongster/mortar/">easy</a> to
    build an app.
  </p>

  <p>
    I'm also interested in Lisp and research various things in my
    Lisp->Javascript language
    called <a href="http://github.com/jlongster/outlet">Outlet</a>.
    Currently, I'm very excited about CPS transformations. I also
    wrote a <a href="http://github.com/jlongster/dcpu-lisp">static
    Lisp</a> that compiles to <a href="http://0x10c.com/">DCPU</a>
    assembly code.
  </p>

  <p>
    You can <a href="mailto:jlongster@jlongster.com">email me</a> or
    find me on <a href="http://twitter.com/jlongster">twitter</a>.
  </p>
</section>

<div class="game-creeper">
  <a href="/developing-games-for-github"><img src="/img/game.png" /></a>
</div>

<section class="recent">
  <h1>Recent Posts</h1>

  {% for post in posts %}
  <article>
    <a class="edit" href="/edit/{{ post.shorturl }}">Edit this Article</a>
    <h1><a href="/{{ post.shorturl }}">{{ post.title }}</a></h1>
    <div class="date">
      {{ post.date | formatdate }}
      {% if post | isUpdated %}
        <em>(updated {{ post.updatedDate | formatdate }})</em>
      {% endif %}
    </div>
    <div class="abstract">{{ post.content | getParagraphs(4) | ghm }}</div>
    <p class="more"><a href="/{{ post.shorturl }}">Continue reading...</a></p>
    <div class="tags">
      Tags:
      {% for tag in post.tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </div>
  </article>
  {% endfor %}
</section>
 
{% endblock %}
