{% extends "base.html" %}

{% block content %}
<h2 class="top-title">Now wait just one second...</h2>

<p>
  It looks like you're trying to edit my site! Why?! Do you not like
  what I have to say?
</p>

<p>
  Actually, <strong>that's awesome</strong>! When you edit stuff, I
  get emailed your changes and I can publish them if I think it
  improves the content.
</p>

<p>
  However, <strong>only logged in users</strong> can submit changes.
  It's not hard to create an account, though! Just click the "Sign in"
  button above and either sign in or create a new account with
  <a href="https://login.persona.org/about">Persona</a>.
</p>

<p>
  <button class="next">
    Continue anyway, knowing that I can't save anything
  </button>
</p>

{% endblock %}
