
html, body {
    margin: 0;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#editor, #preview {
    position: absolute;
    width: 50%;
    height: 100%;
}

.ace_indent-guide {
    background: none !important;
}

#editor {
    top: 0;
    left: 0;
    font-size: 1em;
    line-height: 1.5em;
}

#preview {
    top: 0;
    left: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

#preview {
    background-color: white;
}

#preview .contents {
    padding: 1em;
}

.actions {
    position: fixed;
    right: 50%;
    top: 0;
    display: block;
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: .75em 2em;
}

.actions .action {
    display: block;
    margin-bottom: .75em;
}

.dialog {
    display: none;
}

.dialog .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .7;
}

.dialog .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    background-color: rgb(60, 60, 60);
    color: white;
    width: 50%;
    height: 50%;
    padding: 1em;
    z-index: 1000;
}

#save-dialog .contents {
    width: 400px;
    height: 325px;
}

#save-dialog .contents h3 {
    margin-top: 0;
}

#save-dialog .contents input[type=text] {
    width: 100%;
}

#save-dialog .contents label {
    display: block;
}

div.field {
    margin-bottom: 1em;
}

.user {
    text-align: right;
    font-style: italic;
    font-size: .9em;
}