body {
  width: 100%;
  float: left;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #f5f5f5;
}
.clear {
  clear: both;
}
.content {
  margin: 0 auto;
  width: 900px;
  position: relative;
}
.page {
  display: inline;
  float: left;
  overflow: hidden;
  width: 71.32352941176471%;
  margin: 0 1.8382352941176472%;
}
.page article {
  margin-bottom: 1.5em;
}
.sidebar {
  display: inline;
  float: left;
  overflow: hidden;
  width: 21.323529411764707%;
  margin: 0 1.8382352941176472%;
  font-size: .95em;
}
.sidebar h4 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: .5em;
}
.sidebar a,
.sidebar a:active,
.sidebar a:visited {
  color: #004883;
}
.sidebar section {
  margin-bottom: 1.5em;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar li {
  margin: .6em 0;
  padding: 0;
}
.sidebar .twitter ul {
  font-size: .9em;
  line-height: 1.1em;
  color: #333333;
}
.sidebar .about a,
.sidebar .about a:visited,
.sidebar .about a:active {
  color: black;
}
.sidebar .about a:hover {
  text-decoration: underline;
}
.sidebar .media {
  margin-top: 1em;
  margin-bottom: -0.5em;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: #004883;
}
a:hover {
  text-decoration: underline;
}
header {
  overflow: hidden;
  margin: 1em 0;
}
.login {
  float: right;
}
.login span {
  font-style: italic;
  font-size: .75em;
}
.top-title {
  margin-top: 0;
}
#home .more {
  font-style: italic;
  font-weight: bold;
}
#home .intro h1 {
  margin-top: 0;
}
#home .recent {
  margin-top: 4em;
}
#home .recent article {
  margin-bottom: 3em;
}
#home .recent .date,
#home .recent .tags {
  line-height: 1em;
}
#archive article {
  margin-bottom: 3em;
}
article {
  line-height: 1.5em;
}
article h1 {
  margin-bottom: .1em;
  margin-top: 0;
}
article .edit {
  float: right;
  font-size: .9em;
  font-style: italic;
  position: relative;
  top: .1em;
}
article .tags {
  color: #9c9c9c;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-size: .75em;
}
article .date {
  color: #9c9c9c;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-size: .75em;
}
.post h1 {
  font-size: 1.8em;
  line-height: 1em;
}
.post .edit {
  font-size: 1em;
  position: relative;
  top: .35em;
}
.post .social {
  margin: 1em 0;
  line-height: 1em;
}
.post .twitter-share-button {
  float: right;
}
#tag h1 {
  margin-top: 0;
}
#tag article {
  margin-bottom: 3em;
}
#tag .date,
#tag .tags {
  line-height: 1em;
}
.figure {
  text-align: center;
}
figure.clipped .gutter,
figure.clipped .gutter {
  display: none;
}
figure.clipped .highlight,
figure.clipped .highlight {
  overflow: hidden;
}
figure.clipped .code pre,
figure.clipped .code pre {
  max-height: 400px;
  overflow: auto;
}
figure#js-cps .code pre {
  width: 59%;
}
figure#js-cps2 .code pre {
  width: 46.5%;
}
#disqus_thread {
  margin-top: 3em;
}
.gist,
figure {
  width: 90%;
  margin: 1.5em auto;
}
.gist-file,
.gist-data {
  border: 0 !important;
}
figcaption {
  text-align: center;
  border-radius: 6px 6px 0 0;
  font-style: italic;
  background-color: #CCCCCC;
  margin-bottom: -5px;
  padding: 1px 0 5px 0;
}
.highlight,
.gist-highlight {
  background-color: #fafafe;
  color: black;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #a5a5a5;
  box-shadow: 0 0 10px #a5a5a5;
}
.highlight table,
.gist-highlight table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.highlight .code,
.gist-highlight .code {
  padding-left: .8em;
}
.highlight .gutter,
.gist-highlight .gutter {
  background-color: #c0c0c0;
  color: white;
  width: 25px;
  text-align: center;
  border-radius: 6px 0 0 6px;
}
.highlight {
  font-size: 1.15em;
  overflow: auto;
}
.gist-highlight .gutter,
.gist-highlight .code {
  padding: 1em .5em;
}
.gist-highlight .code {
  border-radius: 0 6px 0 0;
}
.gist-highlight .gutter {
  padding: 1em 0;
  border-radius: 6px 0 0 0;
}
.gist-meta {
  border-radius: 0 0 6px 6px;
}
.hll {
  background-color: #ffffcc;
}
.c {
  color: #8f5902;
  font-style: italic;
}
/* Comment */
.err {
  color: #a40000;
}
/* Error */
.g {
  color: #333333;
}
/* Generic */
.k {
  color: #204a87;
  font-weight: bold;
}
/* Keyword */
.l {
  color: #333333;
}
/* Literal */
.n {
  color: #333333;
}
/* Name */
.o {
  color: #ce5c00;
  font-weight: bold;
}
/* Operator */
.x {
  color: #333333;
}
/* Other */
.p {
  color: #333333;
  font-weight: bold;
}
/* Punctuation */
.cm {
  color: #8f5902;
  font-style: italic;
}
/* Comment.Multiline */
.cp {
  color: #8f5902;
  font-style: italic;
}
/* Comment.Preproc */
.c1 {
  color: #8f5902;
  font-style: italic;
}
/* Comment.Single */
.cs {
  color: #8f5902;
  font-style: italic;
}
/* Comment.Special */
.gd {
  color: #a40000;
}
/* Generic.Deleted */
.ge {
  color: #333333;
  font-style: italic;
}
/* Generic.Emph */
.gr {
  color: #ef2929;
}
/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.gi {
  color: #00a000;
}
/* Generic.Inserted */
.go {
  color: #333333;
  font-style: italic;
}
/* Generic.Output */
.gp {
  color: #8f5902;
}
/* Generic.Prompt */
.gs {
  color: #333333;
  font-weight: bold;
}
/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.gt {
  color: #a40000;
  font-weight: bold;
}
/* Generic.Traceback */
.kc {
  color: #204a87;
  font-weight: bold;
}
/* Keyword.Constant */
.kd {
  color: #204a87;
  font-weight: bold;
}
/* Keyword.Declaration */
.kn {
  color: #204a87;
  font-weight: bold;
}
/* Keyword.Namespace */
.kp {
  color: #204a87;
  font-weight: bold;
}
/* Keyword.Pseudo */
.kr {
  color: #204a87;
  font-weight: bold;
}
/* Keyword.Reserved */
.kt {
  color: #204a87;
  font-weight: bold;
}
/* Keyword.Type */
.ld {
  color: #333333;
}
/* Literal.Date */
.m {
  color: #0000cf;
  font-weight: bold;
}
/* Literal.Number */
.s {
  color: #4e9a06;
}
/* Literal.String */
.na {
  color: #c4a000;
}
/* Name.Attribute */
.nb {
  color: #204a87;
}
/* Name.Builtin */
.nc {
  color: #333333;
}
/* Name.Class */
.no {
  color: #333333;
}
/* Name.Constant */
.nd {
  color: #5c35cc;
  font-weight: bold;
}
/* Name.Decorator */
.ni {
  color: #ce5c00;
}
/* Name.Entity */
.ne {
  color: #cc0000;
  font-weight: bold;
}
/* Name.Exception */
.nf {
  color: #333333;
}
/* Name.Function */
.nl {
  color: #f57900;
}
/* Name.Label */
.nn {
  color: #333333;
}
/* Name.Namespace */
.nx {
  color: #333333;
}
/* Name.Other */
.py {
  color: #333333;
}
/* Name.Property */
.nt {
  color: #204a87;
  font-weight: bold;
}
/* Name.Tag */
.nv {
  color: #333333;
}
/* Name.Variable */
.ow {
  color: #204a87;
  font-weight: bold;
}
/* Operator.Word */
.w {
  color: #f8f8f8;
  text-decoration: underline;
}
/* Text.Whitespace */
.mf {
  color: #0000cf;
  font-weight: bold;
}
/* Literal.Number.Float */
.mh {
  color: #0000cf;
  font-weight: bold;
}
/* Literal.Number.Hex */
.mi {
  color: #0000cf;
  font-weight: bold;
}
/* Literal.Number.Integer */
.mo {
  color: #0000cf;
  font-weight: bold;
}
/* Literal.Number.Oct */
.sb {
  color: #4e9a06;
}
/* Literal.String.Backtick */
.sc {
  color: #4e9a06;
}
/* Literal.String.Char */
.sd {
  color: #8f5902;
  font-style: italic;
}
/* Literal.String.Doc */
.s2 {
  color: #4e9a06;
}
/* Literal.String.Double */
.se {
  color: #4e9a06;
}
/* Literal.String.Escape */
.sh {
  color: #4e9a06;
}
/* Literal.String.Heredoc */
.si {
  color: #4e9a06;
}
/* Literal.String.Interpol */
.sx {
  color: #4e9a06;
}
/* Literal.String.Other */
.sr {
  color: #4e9a06;
}
/* Literal.String.Regex */
.s1 {
  color: #4e9a06;
}
/* Literal.String.Single */
.ss {
  color: #4e9a06;
}
/* Literal.String.Symbol */
.bp {
  color: #3465a4;
}
/* Name.Builtin.Pseudo */
.vc {
  color: #333333;
}
/* Name.Variable.Class */
.vg {
  color: #333333;
}
/* Name.Variable.Global */
.vi {
  color: #333333;
}
/* Name.Variable.Instance */
.il {
  color: #0000cf;
  font-weight: bold;
}
/* Literal.Number.Integer.Long */
.kd,
.k,
.kc {
  font-weight: normal !important;
}
